* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $body-bgc;
  font-family: $global-font;
  letter-spacing: 1.5px;
}

*::selection {
  background-color: cadetblue;
  color: lavender;
}

body::before {
  left: 10px;
}

body::after {
  right: 10px;
}

::before,
::after {
  display: block;
  content: "";
}

body::before,
body::after {
  position: fixed;
  width: 50px;
  height: 100%;
  top: 0;
  background-image: $sidebar-image;
}


::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px $scrollbar-broder-color;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-image: url(https://prodigits.co.uk/thumbs/wallpapers/p2/misc/29/p9tyd40112641029.jpg);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: $scrollbar-hover-bgc;
}

.active {
  display: block;
}

@media(max-width:1060px) {

  body::before,
  body::after {
    display: none;
  }
}